html
{
	background-color: #FF6600;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	-pie-box-shadow: 6px 6px 8px #7F3300;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -18px;
}

#u69
{
	z-index: 12;
	width: 1160px;
	left: -100px;
}

#u69_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u210
{
	z-index: 66;
	width: 200px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 172px;
}

#menuu113
{
	z-index: 14;
	width: 586px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 474px;
}

#u159
{
	width: 115px;
	min-height: 35px;
	margin-right: -10000px;
}

#u162
{
	width: 115px;
	padding-bottom: 18px;
}

#u162:hover
{
	margin: 0px;
}

#u163-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162:active #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u114
{
	width: 115px;
	min-height: 35px;
	margin-right: -10000px;
	left: 117px;
}

#u115
{
	width: 115px;
	padding-bottom: 18px;
}

#u162.MuseMenuActive,#u115:hover
{
	margin: 0px;
}

#u116-4
{
	width: 101px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u162.MuseMenuActive #u163-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	z-index: 27;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 101px;
}

#u115:hover #u117
{
	margin: 0px -10000px 0px 0px;
}

#u115:active #u117
{
	margin: 0px -10000px 0px 0px;
}

#u115.MuseMenuActive #u117
{
	margin: 0px -10000px 0px 0px;
}

#u119
{
	width: 120px;
	top: 35px;
}

#u182
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u182:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u182.MuseMenuActive,#u194:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u120,#u181,#u193,#u200
{
	width: 120px;
}

#u203
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u194.MuseMenuActive,#u203:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u184-4,#u196-4,#u206-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u145
{
	width: 116px;
	min-height: 35px;
	margin-right: -10000px;
	left: 234px;
}

#u146
{
	width: 116px;
	padding-bottom: 18px;
}

#u115.MuseMenuActive,#u146:hover
{
	margin: 0px;
}

#u147-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u115.MuseMenuActive #u116-4,#u146:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u146:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u152
{
	width: 116px;
	min-height: 35px;
	margin-right: -10000px;
	left: 352px;
}

#u153
{
	width: 116px;
	padding-bottom: 18px;
}

#u146.MuseMenuActive,#u153:hover
{
	margin: 0px;
}

#u155-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u146.MuseMenuActive #u147-4,#u153:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 116px;
	min-height: 35px;
	margin-right: -10000px;
	left: 470px;
}

#u141
{
	width: 116px;
	padding-bottom: 18px;
}

#u153.MuseMenuActive,#u141:hover
{
	margin: 0px;
}

#u141.MuseMenuActive
{
	margin: 0px;
}

#u143-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u153.MuseMenuActive #u155-4,#u141:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u141:active #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u141.MuseMenuActive #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu228
{
	z-index: 2;
	width: 0.01px;
	height: 186px;
}

#u232popup
{
	z-index: 3;
}

#u232
{
	width: 960px;
	height: 186px;
}

#u233
{
	z-index: 4;
	width: 960px;
	height: 186px;
	margin-right: -10000px;
}

#u288
{
	z-index: 6;
	width: 960px;
	height: 186px;
	margin-right: -10000px;
}

#u297
{
	z-index: 8;
	width: 960px;
	height: 186px;
	margin-right: -10000px;
}

#u306
{
	z-index: 10;
	width: 960px;
	height: 186px;
	margin-right: -10000px;
}

#u233_img,#u288_img,#u297_img,#u306_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#pppu445
{
	width: 0.01px;
	left: -6px;
	top: -12px;
	margin-bottom: -12px;
	position: relative;
}

#ppu445
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pu445
{
	width: 0.01px;
	margin-left: 27px;
	position: relative;
}

#u445
{
	z-index: 85;
	width: 290px;
	position: relative;
	margin-right: -10000px;
}

#u347
{
	z-index: 120;
	width: 90px;
	height: 83px;
	border-width: 3px;
	border-style: solid;
	border-color: #F0EFEB;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: fixed;
	top: 332px;
	left: 50%;
	margin-left: -460px;
}

#u348-17
{
	z-index: 121;
	width: 97px;
	min-height: 105px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 343px;
	left: 50%;
	margin-left: -450px;
}

#u348-3,#u348-6,#u348-9,#u348-12,#u348-15
{
	padding-bottom: 4px;
}

#u450
{
	z-index: 143;
	width: 320px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #FF6600;
	position: relative;
}

#pquienesomos
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#quienesomos
{
	margin-left: 20px;
	position: relative;
}

#pu346-33
{
	width: 0.01px;
	margin-top: 8px;
	position: relative;
}

#u346-33
{
	z-index: 87;
	width: 579px;
	min-height: 227px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u346-2,#u346-7,#u346-9,#u346-12,#u346-14,#u346-21,#u346-26
{
	font-size: 24px;
	padding-bottom: 5px;
	color: #FF6600;
}

#u346-4,#u346-6,#u346-11,#u346-16,#u346-18,#u346-19,#u346-23,#u346-24,#u346-28,#u346-30,#u346-31
{
	padding-bottom: 10px;
}

#vision
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 793px;
}

#mision
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 637px;
}

#filosofia
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 422px;
}

#historia
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 229px;
}

#u70
{
	z-index: 13;
	width: 960px;
	padding-bottom: 35px;
}

#u315-13
{
	z-index: 68;
	width: 293px;
	min-height: 69px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 21px;
}

#u323
{
	z-index: 81;
	width: 60px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 789px;
}

#u328
{
	z-index: 83;
	width: 60px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 864px;
}

#u323:hover,#u328:hover
{
	margin: 11px -10000px 0px 0px;
}

body
{
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

